<figure>
  <video class="blog-post-video" width="100%" preload="auto" controls="false" crossorigin="anonymous" muted >
      <source src="{{ include.src }}" type="video/webm">
  </video>

  <figcaption class="small-text" style="text-align: center;">
      (if the video glitches, 
      <a href="JavaScript: location.reload(true);" class="small-text underline">refresh</a>
      or 
      <a href="{{ include.src }}" class="small-text underline" target="_blank">view it new tab</a>
      or
      <a href="{{ include.src }}" class="small-text underline" target="_blank" download>download it</a>)
  </figcaption>
</figure>