<h2>I hope you enjoyed this article!</h2>
<p>
  If you have any questions or problems, don't hesitate and
  <a class="paragraph-text underline" href="mailto:dibla.tomas@post.cz?subject=Email%20about%20%7BName%7D%20article&body=Hi!%20I%20was%20reading%20your%20article%20about%20%7Bsubjecct%7D%2C%20and%20I%20am%20curios%20about%20%7BX%7D%20......%0D%0A%0D%0AOR%0D%0A%0D%0AHi!%20I%20was%20reading%20your%20tutorial%20about%20%7Bsubject%7D%2C%20and%20I%20got%20stuck%20%7Bhere%7D.%20I%20have%20tried%20%7Bthis%7D%20and%20%7Bthat%7D.%20What%20do%20you%20recommend%3F%0D%0A%0D%0A%0D%0AHave%20a%20good%20day!" rel="nofollow noreferrer noopener">
  write me an email</a>!
</p>
  