<div
  class="
  project-wrapper see-through-container
  {% if include.is_open_sourced %}
    open_sourced
  {% else %}
    close_sourced
  {% endif %}
  {% if include.is_publicly_available %}
    publicly_available
  {% endif %}">

  <h2 class="strong-text project-title">
    {{ include.name }}
  </h2>

  <div class="project-topic-badges">
    {% if include.is_hobby_project %}
      <span class="topic-badge hobby">Hobby</span>
    {% else %}
      <span class="topic-badge job">Job</span>
    {% endif %}

    {% if include.is_open_sourced %}
      <span class="topic-badge open-sourced">Open sourced</span>
    {% else %}
      <span class="topic-badge close-sourced">Close sourced</span>
    {% endif %}
  </div>

  <p class="project-description small-text">
    {{ include.description }}
  </p>

  <div
    class="project-links-wrapper">
    {{ include.additional_links_start }}

    {% comment %} TODO: Decide whether to put blog post link before source_code && live_version or after {% endcomment %}
    {% if include.blog_post_link %}
      {% include project_card_link.html 
       text = "Blog post"
       href = include.blog_post_link
       is_internal = true %}
    {% endif %}

    {% if include.live_version_link %}
      {% include project_card_link.html 
       text = "Live version"
       href = include.live_version_link
       is_internal = false %}
    {% endif %}

    {% if include.source_code_link %}
      {% include project_card_link.html 
       text = "Source code"
       href = include.source_code_link
       is_internal = false %}
    {% endif %}

    {% if include.youtube_video_link %}
      {% include project_card_link.html 
       text = "Youtube video"
       href = include.youtube_video_link
       is_internal = false %}
    {% endif %}

    {{ include.additional_links_end }}
  </div>
</div>