---
layout: blog_post_layout

title: Winning UHK hackathon 2022
is_blog_post: true
toc: true
seo_keywords: UHK hackathon 2022, hackathon, +-5 hours, first place, RouteMapper, RoadMapper

post_release_date: 23-04-2023
post_category: PR

post_introduction: 
    After placing at second place in <a href='/pages/blog/pr/20-04-2023/attending-funovation-hackathon-22.html' target='_blank' class='strong-text underline'>Funovation Hackathon 22</a> a couple of weeks prior, 
    we (team.devs) decided to compete on another level .... University hackathon (although there were primarily high school teams) and we won! 
    This time the dream-team with the name team.devs (still very original :D) came in hot with a slightly different cast (Vojtěch didn't have time),
    this time it consisted of Me,
    <a href='https://www.linkedin.com/in/michal-vanis/' class='strong-text underline' target='_blank' rel='nofollow noreferrer noopener external'>Michal Vaniš</a>, 
    <a href='https://www.linkedin.com/in/daniel-bene%C5%A1-6abb7b205/' class='strong-text underline' target='_blank' rel='nofollow noreferrer noopener external'>Daniel Beneš</a>, and 
    <a href='https://www.linkedin.com/in/jan-skl%C3%A1dal-6050a2244/' class='strong-text underline' target='_blank' rel='nofollow noreferrer noopener external'>Jan Skládal</a> 
    This is the story of how we got there :D
---
{% include blog_post_showcase_video.html src = "./video-summary.mp4" %}
<div class="meta-note">
    This post is mid at best (imo), I would rather encourage you to read <a href='/pages/blog/pr/20-04-2023/attending-funovation-hackathon-22.html' target='_blank' class='underline'>Funovation hackathon 22</a>,
    however if you feel like proceeding, feel free to carry on reading :D
</div>
<p> 
    This hackathon has been significantly more time-constrained than the previous one (Funovation 22) since we had around 5 hours to brainstorm the idea 
    and code the prototype. But as always, we spent like 1 hour (meaning 1/5 of the whole time) thinking about the idea (reasons stated in the <a href='/pages/blog/pr/20-04-2023/attending-funovation-hackathon-22.html' target='_blank' class='underline'>previous blog post</a>).
</p>
<p> 
    We eventually agreed on making an application/social media site where users would be able to rate the quality of roads and upvote/downvote 
    pictures submitted by other users. This system of voting would then affect how and where the town office spends its budget on repairing those roads.
    If you want to find out more about the application itself, the <a href="https://github.com/TDiblik/RouteMapper" target="_blank" class="underline" {% include external_link.html %}>project's Github repository</a> is probably your best resource.
    You can find showcase and development instructions in README, however, you can also see initial designs inside the RoadMapper.fig file and presentation inside the RoadMapper.pptx.
    You may notice the confusing naming (RouteMapper vs RoadMapper), well, basically, I made a typo while creating the Github repository and we noticed it like 5 minutes before submitting :D.
    It's supposed to be called RoadMapper, however, for legacy reasons, we left it called RouteMapper.
</p>
<p> 
    When it came to our iteration process, we basically followed the strategy we used at the <a href='/pages/blog/pr/20-04-2023/attending-funovation-hackathon-22.html' target='_blank' class='underline'>Funovation hackathon 22</a>, because it worked that well.
    I really recommend reading the previous article for all the details. As for our tech stack, we've learned not to use <a href="https://expo.dev/" class="underline" {% include external_link.html %}> Expo</a>,
    when we're going to present a website anyways, so we made it in <a href="https://create-react-app.dev/" target="_blank" class="underline" {% include external_link.html %}>CRA</a> to allow faster iteration process
    and made it very clear during the presentation, that this would be a mobile native app (with a possibility to throw it on the web as well with wasm). For API, we once again chose  <a href="https://expressjs.com/" class="underline" {% include external_link.html %}>Express</a>,
    because of the ease of use for prototyping.
    The only thing that kinda bothered me was the really short amount of time given for prototyping projects and brainstorming. 
    As I said before, we had about 5 hours to glue the thing together, which included the lunch break.
    This resulted in most projects being riddled with bugs and looking like really early work-in-progress prototypes in general (our project even threw an error during the presentation :D).
    Other than that, I think that the event was a success, to be completely honest, I kinda enjoyed the really strict time constraint, however, I feel like the projects 
    could have come out more finished if there was more time.
</p>
<p> 
    Time flew by very quickly and eventually, we had to submit and present our project. The presentation went smoothly imo and to be honest, we were completely caught off guard when the judges announced us as the winners.
    I really liked the hackathon because it was not set around any specific theme, but more around taking already open datasets, mashing them together, and creating something that could have potential.
    I gotta say, that I was really surprised how much open data the Královehradecký Kraj <a href="https://www.datakhk.cz/" class="underline" {% include external_link.html %}>publishes/exports online</a> for free use.
    Also, unbeknownst to me, the Czech Republic itself publishes <a href="https://data.gov.cz/" class="underline" {% include external_link.html %}>A LOT</a> of open data, which I'm gonna totally use for some of my future projects.
</p>
<p> 
    As with any other event, I really enjoyed it and got a lot of promo/free stuff :D, if you want to find out more about it, 
    I encourage you to go ahead and read the 
    <a href="https://kr-kralovehradecky.cz/cz/kraj-volene-organy/tiskove-centrum/aktuality1/kralovehradecky-hackathon-vyhral-prototyp-aplikace-sledujici-stav-silnic-344129/" class="underline" {% include external_link.html %}>official blog post from the organizers</a> /
    <a href="https://www.delta-skola.cz/studenti-delty-zvitezili-v-kralovehradeckem-hackathonu" class="underline" {% include external_link.html %}>DELTA High School's post</a>,
    or take a look at 
    <a href="https://www.datakhk.cz/pages/hackathony" class="underline" {% include external_link.html %}>all created projects</a>,
</p>
{% include blog_post_image.html 
  src = "./organizers-representation-plus-our-team.jpg"
  width = "700px"
  caption = "I look dead in this picture :D"
%}