---
layout: blog_post_layout

title: Main Gate ALPR
is_blog_post: true
toc: true
show_toc: true
seo_keywords: yolov8, yolov8 fine-tuning, alpr, anpr, ai, recognize license plates

post_release_date: 05-09-2023
post_category: Technical

post_introduction: 
    Last year (2022), I programmed a proprietary solution for recognizing license plates
    using yolov7 and alpr-unconstrained. Recentlly, there have been some huge advancements in AI,
    so I decided to dip my toes back into it, rethink the whole thing and make it open source. This is how it turned out.
---

{% include heading.html level="2" text="Showcase" %}
<p>
    <a 
        href="https://github.com/TDiblik/main-gate-alpr" 
        class="underline" 
    {% include external_link.html %}>The source code repository / project</a>
    contains code and AI models required for full license plate 
    reading without censorship. The video(s)/showcase(s)/image(s) are censored, 
    because I took the data from production and don't want to dox people :D
</p>
{% include blog_post_showcase_video.html src="./showcase-main-gate-alpr-working.webm" %} <!-- TODO -->

{% include heading.html level="2" text="How does it work" %}
{% include heading.html level="3" text="Thread 1" %}
{% include heading.html level="3" text="Thread 2" %}
{% include heading.html level="4" text="WebSocket server" %}
{% include heading.html level="4" text="Matching logic" %}

{% include heading.html level="2" text="End" %}
