---
layout: default
---

{% assign post_category_downcase = page.post_category | downcase | strip  %}
<article class="blog-post-container">
    <div class="blog-post-info">
        <h1 class="blog-post-title">{{ page.title }}</h1>
        {% if page.post_co_authors %}
            <span class="small-text">Co-authored by: 
                {% for author in page.post_co_authors %}
                    <a href="{{ author.href }}" class="small-text underline-on-hover" {% include external_link.html %}>{{ author.name | replace: " ", "&nbsp;" }}</a>{% if forloop.last != true %},{% endif %}
                {% endfor %}
            </span>
        {% endif %}
        <span class="small-text" title="(dd-mm-yyyy)">{{ page.post_release_date }}</span>
        <span class="small-text blog-post-category" title="
            {% if post_category_downcase == 'tutorial' %}
            Usually beginner friendly articles teaching a technology, or how-to-do-something.
            {% elsif post_category_downcase == 'technical' %}
            The purpose of these articles is not to teach, but to concentrate on a specific topic 
            and provide references to sources where one can learn the necessary information.
            {% elsif post_category_downcase == 'pr' %}
            Writing about events I've been to and such. 
            {% elsif post_category_downcase == 'personal' %}
            Everything more personal, that I feel like sharing online :D -- basically what I'm up to, interested in, etc,.. outside of technology.
            {% endif %}
        ">
            {{ page.post_category }}
        </span>
    </div>
    <div class="blog-post-content-container">
        <p class="strong-text">{{ page.post_introduction }}</p>
        <div class="table-of-contents-wrapper">
            <div class="table-of-contents">
                <span class="table-of-contents-header strong-text subheading-text">Table of contents</span>
                {{ content | toc_only }}
            </div>
        </div>
        {{ content | inject_anchors }}
        {% include blog_post_end_paragraph.html %}
        <div class="meta-note paragraph small-text">
            <span class="strong-text small-text">Disclaimer: </span> The opinions, views and values expressed in this post are solely my own and 
            do not reflect the opinions, views and values of my current or past employer, 
            any open source groups I am or have been involved with, 
            or any other groups/organizations I am or have been associated with.
        </div>
    </div>
</article>