---
layout: default
---

{% assign post_category_downcase = page.post_category | downcase | strip  %}
<article class="blog-post-container">
    <div class="blog-post-info">
        <h1 class="blog-post-title">{{ page.title }}</h1>
        {% if page.post_co_authors %}
            <span class="small-text">Co-authored by: 
                {% for author in page.post_co_authors %}
                    <a href="{{ author.href }}" class="small-text underline-on-hover" {% include external_link.html %}>{{ author.name | replace: " ", "&nbsp;" }}</a>{% if forloop.last != true %},{% endif %}
                {% endfor %}
            </span>
        {% endif %}
        <span class="small-text" title="(dd-mm-yyyy)">{{ page.post_release_date }}</span>
        <span class="small-text blog-post-category" title="
            {% if post_category_downcase == 'tutorial' %}
            Usually beginner friendly articles teaching a technology, or how-to-do-something.
            {% elsif post_category_downcase == 'technical' %}
            The purpose of these articles is not to teach, but to concentrate on a specific topic 
            and provide references to sources where one can learn the necessary information.
            {% elsif post_category_downcase == 'pr' %}
            Writing about events I've been to, showcasing my close sourced programs (basically, hey, I made this and I find it cool, but it's private), and other things PR related. 
            {% elsif post_category_downcase == 'personal' %}
            Everything more personal, that I feel like sharing online :D -- basically what I'm up to, interested in, etc,.. outside of technology.
            {% endif %}
        ">
            {{ page.post_category }}
        </span>
    </div>
    <div class="blog-post-content-container">
        <p class="strong-text">{{ page.post_introduction }}</p>
        {% if page.show_toc %}
            <div class="table-of-contents-wrapper">
                <div class="table-of-contents">
                    <span class="table-of-contents-header strong-text subheading-text">Table of contents</span>
                    {{ content | toc_only }}
                </div>
            </div>
        {% else %}
            {% comment %} Force inject_anchors to execute {% endcomment %}
            <div style="display: none">
                {{ content | toc_only }}
            </div>
        {% endif %}
        {{ content | inject_anchors }}

        <h2>I hope you enjoyed this article/blog post!</h2>
        <p>
          If you have any questions, problems or want to start a discussion, don't hesitate and
          <a class="paragraph-text underline" href="mailto:dibla.tomas@post.cz?subject=Email%20about%20%7BName%7D%20article&body=Hi!%20I%20was%20reading%20your%20article%20about%20%7Bsubjecct%7D%2C%20and%20I%20am%20curios%20about%20%7BX%7D%20......%0D%0A%0D%0AOR%0D%0A%0D%0AHi!%20I%20was%20reading%20your%20tutorial%20about%20%7Bsubject%7D%2C%20and%20I%20got%20stuck%20%7Bhere%7D.%20I%20have%20tried%20%7Bthis%7D%20and%20%7Bthat%7D.%20What%20do%20you%20recommend%3F%0D%0A%0D%0A%0D%0AHave%20a%20good%20day!" rel="nofollow noreferrer noopener">
          write me an email</a>!
        </p>

        <div class="meta-note paragraph small-text">
            <span class="strong-text small-text">Disclaimer: </span> The opinions, views and values expressed in this post are solely my own and 
            do not reflect the opinions, views and values of my current or past employer, 
            any open source groups I am or have been involved with, 
            or any other groups/organizations I am or have been associated with.
        </div>
    </div>
</article>