<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/assets/css/globals.css" />
    <link rel="stylesheet" href="/assets/css/layout.css" />

    <link
      rel="icon"
      type="image/svg"
      href="/assets/img/logo.svg" />

    <script src="/assets/js/layout.js"></script>

    {{ page.additional_headers }}

    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-logo">
          <a href="/">
            <img
              src="/assets/img/nav-house.svg"
              width="46"
              height="46"
              alt="Houme icon suggesting index page" />
          </a>
        </div>
        <div id="menu" class="not-active">
          <a class="{%if page.highlited_navbar_option == 'AboutMe' %} underline {%endif%} subheading-text underline-on-hover" href="/pages/about-me">
            About me
          </a>
          <a class="{%if page.highlited_navbar_option == 'Projects' %} underline {%endif%} subheading-text underline-on-hover" href="/pages/projects">
            Projects
          </a>
          <a class="{%if page.highlited_navbar_option == 'Blog' %} underline {%endif%} subheading-text underline-on-hover" href="/pages/blog">
            Blog
          </a>
          <a class="{%if page.highlited_navbar_option == 'TechStack' %} underline {%endif%} subheading-text underline-on-hover" href="/pages/tech-stack">
            Tech stack
          </a>
          <a class="{%if page.highlited_navbar_option == 'WorkExperience' %} underline {%endif%} subheading-text underline-on-hover" href="/pages/work-experience">
            Work experience
          </a>
          <a class="{%if page.highlited_navbar_option == 'Certifications' %} underline {%endif%} subheading-text underline-on-hover" href="/pages/certifications">
            Certifications
          </a>
        </div>
        <div id="open-menu-wrapper" class="menu-icon-wrapper active">
          <img
            src="/assets/img/nav-hamburger.svg"
            alt="Menu to open navbar"
            class="menu-open-icon" />
        </div>

        <div id="close-menu-wrapper" class="menu-icon-wrapper">
          <img
            src="/assets/img/nav-x.svg"
            alt="Menu to open navbar"
            class="menu-close-icon" />
        </div>
      </div>
      <main>
        <div class="content-container">{{ content }}</div>
      </main>
      <footer>
        <span class="small-text">
          © Tomáš Diblík, 2020 -
          <span id="footer-end-date" class="small-text"></span>
        </span>
        <div class="social-media-icons">
          <a href="https://github.com/TDiblik/" {% include external_link.html %}>
            <img
              src="/assets/img/github.svg"
              alt="Github logo"
              class="github-logo" />
          </a>
          <a href="https://www.linkedin.com/in/tdiblik/" {% include external_link.html %}>
            <img src="/assets/img/linkedin-logo.png" alt="LinkedIn logo" />
          </a>
          <a href="https://www.youtube.com/@tdiblik" {% include external_link.html %}>
            <img
              src="/assets/img/youtube-logo.png"
              alt="Youtube logo"
              class="youtube-logo" />
          </a>
          <!-- Really good website for creating mailto(s): https://mailtolink.me/ -->
          <a href="mailto:dibla.tomas@post.cz?subject=Hello%20there!&body=I%20hope%20you're%20having%20a%20good%20day%20%5E_%5E%20-%20feel%20free%20to%20email%20me%20about%20anything!" rel="nofollow noreferrer noopener">
            <img
              src="/assets/img/email-icon.svg"
              alt="Email icon"
              class="email-icon" />
          </a>
        </div>
      </footer>
    </div>
  </body>
</html>