.blog-post {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 40px;

  transform: scale(0.95);

  transition: all 0.2s ease !important;
  -o-transition: all 0.2s ease !important;
  -moz-transition: all 0.2s ease !important;
  -webkit-transition: all 0.2s ease !important;
}
.blog-post:hover {
  cursor: pointer;
  transform: scale(1);
}

.blog-post-thumbnail-wrapper {
  justify-content: center;
  display: flex;
}
.blog-post-thumbnail {
  width: 200px;
  height: auto;
  max-height: 150px;
  margin: auto 0;
  border-radius: var(--border-radius);
  object-fit: scale-down;
}

.blog-post-info {
  width: 100%;
}
.blog-post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 15px 0 15px 0;
}

.block-post-topic-badge {
  margin-right: auto;
}
.block-post-topic-badge.technical {
  background-color: rgba(51, 153, 255, 0.6);
}
.block-post-topic-badge.personal {
  background-color: rgba(102, 153, 153, 0.6);
}
.block-post-topic-badge.tutorial {
  background-color: rgba(204, 102, 153, 0.6);
}
.block-post-topic-badge.pr {
  background-color: rgba(102, 102, 153, 0.6);
}

.blog-post-title {
  margin: 0;
}

.blog-post-description {
  margin: 0;
  text-align: justify;
}

@media (max-width: 992px) {
  .blog-post {
    flex-direction: column;
    gap: 5px;
  }

  .blog-post-thumbnail-wrapper {
    width: 100%;
  }
  .blog-post-thumbnail {
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: scale-down;
  }

  .blog-post-header {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .block-post-topic-badge {
    margin-right: 0;
  }

  .blog-post-title {
    text-align: center;
  }
}
