html {
  scroll-behavior: smooth;
}

.blog-post-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .blog-post-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .blog-post-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .blog-post-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .blog-post-container {
    max-width: 1140px;
  }
}

.blog-post-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.blog-post-info * {
  text-align: center;
  margin: 0;
}

.blog-post-category:hover {
  cursor: help;
}

.blog-post-container {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: var(--border-radius);
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

.blog-post-content-container > * {
  margin: 10px 0px !important;
}
.blog-post-content-container p,
.blog-post-content-container span,
.blog-post-content-container li,
.blog-post-content-container label,
.blog-post-content-container a {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 27px;
  text-align: justify;
}
.blog-post-content-container h2 {
  margin-top: 2rem !important;
}
.blog-post-content-container h3 {
  font-size: 1.3rem;
  line-height: 30px;
  margin-top: 1.5rem !important;
}

.meta-note {
  background-color: rgba(255, 148, 112, 0.6);
  border-radius: var(--border-radius);
  padding: 10px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.table-of-contents-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-of-contents {
  width: fit-content;
  width: -moz-fit-content;
  padding: 15px 20px;

  text-align: center;

  /* box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132),
    0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108); */

  box-shadow: 0 6.4px 14.4px 0 rgba(167, 187, 236, 0.132),
    0 1.2px 3.6px 0 rgba(167, 187, 236, 0.108);

  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  border-radius: var(--border-radius);
}

.table-of-contents li a:hover {
  text-decoration: underline;
}

h1 a::before,
h2 a::before,
h3 a::before {
  display: inline-flex;
  content: "";
  background-image: url("/assets/img/link.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5px;
}

h1 a::before {
  height: 24px;
  width: 24px;
}

h2 a::before {
  height: 18px;
  width: 18px;
}

h3 a::before {
  height: 16px;
  width: 16px;
}

.table-of-contents ol {
  padding-left: 2rem;
}

#toc {
  padding-left: 1rem;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 !important;
}
.image-container img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
  margin-bottom: 10px;
}

.blog-post-video {
  border-radius: var(--border-radius);
}

.code-wrapper {
  border-radius: var(--border-radius);
  max-height: 30rem;
}
.code-wrapper.small {
  max-height: 20rem;
}
.code-wrapper.medium {
  max-height: 60rem;
}
.code-wrapper.large {
  max-height: 90rem;
}

code.inline {
  padding: 3px 5px !important;
}
code.inline,
code.inline * {
  font-family: Consolas, "Courier New", monospace, Monaco, "Andale Mono",
    "Ubuntu Mono" !important;
  font-size: 1.05rem !important;
}

.code-wrapper > code,
.code-wrapper > code * {
  font-family: Consolas, "Courier New", monospace, Monaco, "Andale Mono",
    "Ubuntu Mono" !important;
  font-size: 14px !important;
  line-height: 23px !important;
}

ol,
ul {
  margin: 10px 0;
}

li {
  margin-bottom: 5px;
  padding-left: 5px;
}
