.blog-post-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .blog-post-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .blog-post-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .blog-post-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .blog-post-container {
    max-width: 1140px;
  }
}

.blog-post-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.blog-post-info * {
  text-align: center;
  margin: 0;
}

.blog-post-category:hover {
  cursor: help;
}

.blog-post-content-container p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 27px;
  text-align: justify;
}
