/* ------ START Setup fonts ------ */
/* cyrillic-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/raleway-cyrillic-ext-400.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/raleway-cyrillic-400.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/raleway-vietnamese-400.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/raleway-latin-ext-400.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/raleway-latin-400.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/raleway-cyrillic-ext-500.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/raleway-cyrillic-500.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/raleway-vietnamese-500.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/raleway-latin-ext-500.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/raleway-latin-500.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* ------ END Setup fonts ------ */

/* Global config */
:root {
  --white: #faf8f8;
  --gray: #c7c7c7;
  --black: #212529;

  --primary-color: #0e2a47;
  --primary-color-muted: rgba(14, 42, 71, 0.8);

  --secondary-color: #a7bbec;
  --secondary-color-muted: rgba(167, 187, 236, 0.6);
  --secondary-color-nearly-silent: rgba(167, 187, 236, 0.1);
  --secondary-color-nearly-silent-calculated-beforehand-against-primary-color: #1e3958;

  --border-radius: 8px;

  --font-family: "Raleway", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;

  color: var(--white);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;

  /* Fix raleway numbers */
  -webkit-font-feature-settings: "lnum" !important;
  -moz-font-feature-settings: "lnum" !important;
  font-feature-settings: "lnum" !important;
}

@view-transition {
  navigation: auto;
}

a {
  color: var(--white);
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
.underline {
  text-decoration: underline;
}
.underline-on-hover:hover {
  text-decoration: underline;
}

i {
  font-style: italic !important;
}

h1 {
  font-size: 2rem;
  line-height: 40px;
}
h2 {
  font-size: 1.5rem;
  line-height: 32px;
}
h3 {
  font-size: 1.17rem;
  line-height: 27px;
}

.small-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400 !important;
  font-size: 0.93rem !important;
  line-height: 21px !important;
}

.paragraph-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400 !important;
  font-size: 1.17rem !important;
  line-height: 27px !important;
}

.subheading-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400 !important;
  font-size: 1.5rem !important;
  line-height: 27px !important;
}

.title-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400 !important;
  font-size: 3rem !important;
  line-height: 56px !important;
}

.biggest-possible-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400 !important;
  font-size: 5rem !important;
  line-height: 80px !important;
}

.strong-text {
  font-weight: 500 !important;
}

@media (max-width: 1450px) {
  .title-text {
    font-size: 2.5rem !important;
    line-height: 2.75rem !important;
  }

  .biggest-possible-text {
    font-size: 3.5rem !important;
  }
}

@media (max-width: 992px) {
  .title-text {
    font-size: 2rem !important;
    line-height: 2.75rem !important;
  }

  .biggest-possible-text {
    font-size: 3rem !important;
    line-height: 40px !important;
  }
}

@media (max-width: 576px) {
  .title-text {
    font-size: 1.8rem !important;
    line-height: 2.75rem !important;
  }

  .biggest-possible-text {
    font-size: 2.75rem !important;
    line-height: 3rem !important;
  }
}
