/* TODO: Don't be dependent on google fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");

:root {
  --white: #faf8f8;
  --gray: #c7c7c7;
  --primary-color: #0e2a47;
  --secondary-color: #a7bbec;
  --secondary-color-muted: rgba(167, 187, 236, 0.6);
  --secondary-color-nearly-silent: rgba(167, 187, 236, 0.1);
  --secondary-color-nearly-silent-calculated-beforehand-against-primary-color: #1e3958;
  --font-family: "Raleway", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;

  color: var(--white);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;

  /* Fix raleway numbers */
  -webkit-font-feature-settings: "lnum" !important;
  -moz-font-feature-settings: "lnum" !important;
  font-feature-settings: "lnum" !important;
}

a {
  color: var(--white);
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
.underline {
  text-decoration: underline;
}
.underline-on-hover:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  line-height: 40px;
}
h2 {
  font-size: 1.5rem;
  line-height: 27px;
}
h3 {
  font-size: 1.17rem;
  line-height: 27px;
}

.small-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400 !important;
  font-size: 0.93rem !important;
  line-height: 21px !important;
}

.normal-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400 !important;
  font-size: 1.17rem !important;
  line-height: 27px !important;
}

.subheading-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400 !important;
  font-size: 1.5rem !important;
  line-height: 27px !important;
}

.title-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400 !important;
  font-size: 3rem !important;
  line-height: 56px !important;
}

.biggest-possible-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400 !important;
  font-size: 5rem !important;
  line-height: 80px !important;
}

.strong-text {
  font-weight: 500 !important;
}
