html,
body {
  position: relative;
  height: 100%;
  padding: 0px !important;
  margin: 0px !important;
}

body {
  background-color: #0e2a47;
  background-image: url("../img/background.svg");
  padding: 2% 6%;
}

.container {
  padding: 2% 6%;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0px;
}

@media (max-width: 768px) {
  .navbar-logo {
    display: none;
  }
  .menu {
    width: 100%;
    justify-content: space-evenly;
    /* row-gap: 15px;
    align-items: flex-end !important;
    flex-direction: column !important; */
  }
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu > .active {
  text-decoration: underline;
}
.menu > * {
  margin-right: 20px;
}
.menu > *:last-child {
  margin-right: 0px;
}
.menu > a:hover {
  text-decoration: underline;
}

main {
  min-height: 100%;
  padding-bottom: 5%;
}

footer {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding-top: 13px;
}

@media (max-width: 576px) {
  footer {
    flex-direction: column-reverse;
    justify-content: center;
    row-gap: 15px;
  }

  .social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .social-media-icons > a > img {
    margin-right: 0px;
  }
}

.social-media-icons > a > img {
  width: 32px;
  height: 32px;
  margin-right: 20px;
  margin-top: -13px;
}
.social-media-icons > a:last-child > img {
  margin-right: 0px;
}

.github-logo {
  background-color: #2d333b; /* official github background color */
  border-radius: 999px;
}

.youtube-logo {
  height: 32px !important;
  width: 45.5px !important;
}

.email-icon {
  width: 42.6px !important;
}
