.no-js-notice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 25px;
}

.project-page-container {
  display: flex;
  flex-direction: column;
}

.project-type-selector-container {
  display: flex;
  justify-content: center;
}

#project-type-selector {
  border-radius: 10px;
  color: var(--white);
  background-color: var(--secondary-color-nearly-silent);
  padding: 5px 25px;
  text-align: center;
}
#project-type-selector:hover {
  cursor: pointer;
}
#project-type-selector > option {
  text-align: center;
  font-size: 1.25rem;
  color: var(--white);
  background-color: var(--secondary-color-nearly-silent-calculated-beforehand-against-primary-color);
}

.projects-container-title {
  text-align: center;
  padding-top: 2%;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 1rem;
}
.project-hidden {
  display: none;
}

.project-wrapper * {
  text-align: center;
}
.project-wrapper > *:hover {
  cursor: default;
}

.project-title {
  margin-bottom: 0.7rem;
}

.project-topic-badges {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.topic-badge.job {
  background-color: rgba(75, 108, 189, 0.6);
}
.topic-badge.hobby {
  /* background-color: rgba(75, 108, 189, 0.6); */
  background-color: var(--secondary-color-muted);
}
.topic-badge.open-sourced {
  background-color: rgba(164, 190, 92, 0.8);
}
.topic-badge.close-sourced {
  background-color: rgba(249, 96, 96, 0.6);
}

.project-description {
  text-align: justify;
}

.project-links-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 10px;
}
.project-links-wrapper > a:hover {
  filter: brightness(1.2);
}
