.job {
  display: flex;
  margin-bottom: 50px;
}

.job-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  width: 100%;
  flex-basis: 40%;
}

.job-logo-wrapper {
  display: flex;
  justify-content: center;
  min-width: 130px;
  max-width: 130px;
  padding: 5px 0px;
  border-radius: 8px;
  background-color: var(--white);
}
.job-logo {
  height: 80px;
  width: auto;
  max-width: 130px;
}

.job-details > * {
  margin: 0;
  margin-bottom: 5px;
}

.job-details > *:not(:first-child) {
  color: #f6f6f6;
}

.job-description-paragraph {
  flex-basis: 60%;
  text-align: justify;
}

@media (min-width: 2000px) {
  .job-info {
    flex-basis: 30%;
  }
  .job-description-paragraph {
    flex-basis: 70%;
  }
}

@media (max-width: 1500px) {
  .job {
    display: block;
  }

  .job-info {
    justify-content: flex-start;
  }
}

@media (max-width: 576px) {
  .job-logo {
    width: 100%;
    height: auto;
  }
}
