---
layout: blog_post_layout

title: Create custom rick roll link using Github pages
is_blog_post: true
toc: true
seo_keywords: TODO

post_release_date: 01-05-2023
post_category: Tutorial

post_introduction: 
  We've all been there, one of your friends asked you for some link and you couldn't resist the urge to send them a rick roll, however
  nowadays Rickrolling is becoming increasingly harder, as some people can recognize the link nearly instantly and text messaging apps show
  previews of the video. We, as programmers, need to make information about creating unrecognizable rick rolls more widespread and 
  contribute our part to the community 🫡.
---

{% include heading.html level="2" text="Showcase" %}
{% include blog_post_showcase_video.html src = "./showcase-rick-roll-working.webm" %}

{% include heading.html level="2" text="Prerequisites" %}
<ul>
    <li>
        Have Github account. If you don't have one, go ahead and 
        <a href="https://learn.microsoft.com/en-us/azure/azure-functions/functions-overview#scenarios" class="underline" {% include external_link.html %}>
        set it up</a>.
    </li>
</ul>

{% include heading.html level="2" text="Step by step guide" %}
<ol>
    <li>
        Ok, you're logged in on home page of
        <a href="https://github.com" class="underline" {% include external_link.html %}>github.com</a>. 
        The first thing you need to do is click on your profile logo in the top right corner ("1" in the picture) of the page and click on select "Your repositories" in the pop-up menu ("2" in the picture).
        {% include blog_post_image.html 
          src = "./first-step.png"
          width = "1200px"
        %}
    </li>

    <li>
        Now, on this page should be a green button that has "New" written on it ("3" in the picture). Go ahead and click on it.
        {% include blog_post_image.html 
          src = "./second-step.png"
          width = "1200px"
        %}
    </li>

    <li>
        Now, you're creating a repository. Make sure that your settings are identical to the ones shown below.
        Especiallly the part where you make your repository "Public", otherwise it won't work (without Pro/Enterprise account).
        In the textbox repository name, write the name that you want your link to have. For example, I have "link-name",
        that means that my final link would look like this: https://tdiblik.github.io/link-name. 
        This link is composed of: https://YOUR_USERNAME.github.io/REPOSITORY_NAME.
        After you're done with it you can go ahead and click on the "Create repository" button.
        {% include blog_post_image.html 
          src = "./third-step.png"
          width = "1200px"
        %}
    </li>
    
    <li>
        After that you'll be redirected to another page, this page home page of your repository. In here, you need to click on "creating a new file"
        {% include blog_post_image.html 
          src = "./forth-step.png"
          width = "1200px"
        %}
    </li>
    
    <li>
        That should redirect you to another page, where you need to make sure that you input the following information into the circled sections.
        To the first circled section, write: <code class="language-zsh inline">_config.yml</code>. And to the second circled section, write: <code class="language-zsh inline">theme: jekyll-theme-cayman</code>.
        After you've done that, continue by clicking the "Commit changes" button and then confirm it inside the pop-up.
        {% include blog_post_image.html 
          src = "./fifth-step.png"
          width = "1200px"
        %}
        {% include blog_post_image.html 
          src = "./sixth-step.png"
          width = "1200px"
        %}
    </li>

    <li>
        Once you've confirmed the commit, you will be once again redirected to the repostiory home page. From here, you want to create another new file called <code class="language-zsh inline">index.html</code>, insert following code into it and commit it (following pictures as instructions).
        <pre class="code-wrapper small"><code class="language-html">&lt;!DOCTYPE html&gt;
&lt;meta charset="utf-8" /&gt;
&lt;title>Oh no no no :D&lt;/title&gt;
&lt;meta
  http-equiv="refresh"
  content="0; URL=https://www.youtube.com/watch?v=dQw4w9WgXcQ"
/&gt;</code></pre>
        {% include blog_post_image.html 
          src = "./seventh-step.png"
          width = "1200px"
        %}
        {% include blog_post_image.html 
          src = "./eight-step.png"
          width = "1200px"
        %}
        {% include blog_post_image.html 
          src = "./nineth-step.png"
          width = "1200px"
        %}
    </li>
    
    <li>
        Right now, we need to activate github pages and we're all done. You can do that by going into Settings -> Pages -> Branch, then select master or main (depending on your settings) and click on "Save".
        {% include blog_post_image.html 
          src = "./final-step.png"
          width = "1200px"
        %}
    </li>
    <li>
        All you need to do is wait for a minute and then try your link. You can either construct it yourself following the pattern https://YOUR_USERNAME.github.io/REPOSITORY_NAME, or you can see it in the same "Pages" settings page.
        {% include blog_post_image.html 
          src = "./where-to-see-link.png"
          width = "1200px"
        %}
    </li>
</ol>
<p>
    And that's it! If you're interested in learning how it works or want to use different video instead of rick roll, you can read about it in the 
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="underline" {% include external_link.html %}>next blog post</a>. 
</p>
