---
layout: default

title: Projects
highlited_navbar_option: Blog
additional_headers: <link rel="stylesheet" href="/assets/css/blog.css" />
    <link rel="stylesheet" href="/assets/css/see-through-container.css" />
    <link rel="stylesheet" href="/assets/css/topic-badge.css" />
---

{% include blog_post_preview_card.html 
 title = "Example blog post"
 type = "Personal"
 release_date = "02-02-2023"
 thumbnail_alt = "Alternative text to the thumbnail"
 description = "
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Ac tortor dignissim convallis aenean. Faucibus vitae aliquet nec ullamcorper sit amet risus sed elementum tempus egestas. Ultrices in iaculis nunc sed. Sit amet
 " %}

{% include blog_post_preview_card.html 
 title = "Learn Azure Functions with 3 easy projects"
 type = "Tutorial"
 release_date = "15-02-2022"
 thumbnail_alt = "Azure functions logo"
 description = "
  Have you ever needed to create a simple REST API with a few endpoints or automated tasks? It's
  often impractical and slow to create an entire backend for these types of tasks. That's where
  Azure Functions comes in, cutting that process down to a few clicks.
 " %}

{% include blog_post_preview_card.html 
 title = "How to install WSL"
 type = "Tutorial"
 release_date = "30-12-2021"
 thumbnail_alt = "Penguin Tux inside Windows logo"
 description = "
  There are a lot of advantages of having a Linux system ready to use, whenever you need to.
  Personally, I rely heavily on WSL in my day-to-day life. Whenever I need to run something Linux-specific,
  it's as easy as opening a new terminal session. I also use docker for virtualizing some services, such as databases, which 
  can use WSL to function faster.
 " %}

{% include blog_post_preview_card.html 
 title = "How to explore Azure Web App files"
 type = "Tutorial"
 release_date = "10-05-2021"
 thumbnail_alt = "Azure Web Apps logo"
 description = "
    Have you ever published a new version of your website to Azure Web Apps, but then no changes appear on the site?
    It might help to take a look into the server's files. But how do you get to them? Read more to find out.
 " %}