---
layout: default

title: Blog
seo_description: From time to time, I write something.
seo_keywords: blog, blog catalog, blog posts
highlited_navbar_option: Blog
additional_headers: <link rel="stylesheet" href="/assets/css/blog.css" />
    <link rel="stylesheet" href="/assets/css/see-through-container.css" />
    <link rel="stylesheet" href="/assets/css/topic-badge.css" />
---

{% include blog_post_preview_card.html 
 title = "Example blog post"
 type = "Personal"
 release_date = "02-02-2023"
 thumbnail_alt = "Alternative text to the thumbnail"
 description = "
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Ac tortor dignissim convallis aenean. Faucibus vitae aliquet nec ullamcorper sit amet risus sed elementum tempus egestas. Ultrices in iaculis nunc sed. Sit amet
 " %}

{% include blog_post_preview_card.html 
 title = "Lunch Ordering and Management System"
 type = "PR"
 release_date = "12-03-2023"
 thumbnail_alt = "Logo with knife and fork"
 description = "
    This program consists of 5 parts. A desktop application, that allows you to order lunches locally. 
    Another desktop application that makes it easy to receive your food by using RFID chip associated with your name. 
    A mobile app that allows you to order lunches from the comfort of your home. A web management system that allows HR people to manage lunches,
    export payroll deductions (subsidies included) and block some people from ordering lunches. 
    Lastly, an automated task that runs twice per day and sends emails with orders for next day/week to company that's supplying the food.
 " %}

{% include blog_post_preview_card.html 
 title = "Multi-Device Monitor and Control System"
 type = "PR"
 release_date = "11-03-2023"
 thumbnail_alt = "Example graph report from program"
 description = "
  I developed a program to control a factory with two parts: a desktop app to set up, manage and control IOT devices,
  and a website to generate graphs and analysis. The app turns devices on/off based on settings, 
  such as heating the factory before workers arrive, locking doors in the evening and adjusting temperature in different rooms.
  The desktop app manages and website analyzes data from 21 temperature sensors, 5 humidity sensors and 33 I/O modules 
  placed across the factory at VPSR.
  I published first version in early 2021, the program runs there to this day. 
 " %}

{% include blog_post_preview_card.html 
 title = "Tank parameterization"
 type = "PR"
 release_date = "10-03-2023"
 thumbnail_alt = "Picture showing part of the app"
 description = "
  This web app is designed to help technicians test out different variables while preparing tanks 
  without the need to manually calculate multiple hard calculations, ensuring that they know everything important about each tank.
  Because this software simplifies a lot of calculations, and shows it clearlly in it's UI,
  it significantlly reduces the chance of human error, saves technicians time, and ensures accurate tank preparation.
 " %}

{% include blog_post_preview_card.html 
 title = "Robot-Assisted Laser Plate Processing"
 type = "PR"
 release_date = "09-03-2023"
 thumbnail_alt = "Picture of Uarm Swift Pro robotic arm"
 description = "
  VPSR faced an issue where their employees had to 
  monitor the completion of lasered plates and manually replace them. 
  This task took up nearly half of one employee's shift, causing inefficiency 
  in their operations. To address this problem, they decided to purchase a 
  Uarm Swift Pro robotic arm, which I programmed using Python.
 " %}

{% include blog_post_preview_card.html 
 title = "Learn Azure Functions with 3 easy projects"
 type = "Tutorial"
 release_date = "15-02-2022"
 thumbnail_alt = "Azure functions logo"
 description = "
  Have you ever needed to create a simple REST API with a few endpoints or automated tasks? It's
  often impractical and slow to create an entire backend for these types of tasks. That's where
  Azure Functions comes in, cutting that process down to a few clicks.
 " %}

{% include blog_post_preview_card.html 
 title = "How to install WSL"
 type = "Tutorial"
 release_date = "30-12-2021"
 thumbnail_alt = "Penguin Tux inside Windows logo"
 description = "
  There are a lot of advantages of having a Linux system ready to use, whenever you need to.
  Personally, I rely heavily on WSL in my day-to-day life. Whenever I need to run something Linux-specific,
  it's as easy as opening a new terminal session. I also use docker for virtualizing some services, such as databases, which 
  can use WSL to function faster.
 " %}

{% include blog_post_preview_card.html 
 title = "How to explore Azure Web App files"
 type = "Tutorial"
 release_date = "10-05-2021"
 thumbnail_alt = "Azure Web Apps logo"
 description = "
  Have you ever published a new version of your website to Azure Web Apps, but then no changes appear on the site?
  It might help to take a look into the server's files. But how do you get to them? Read more to find out.
 " %}