---
layout: default

title: Certifications
seo_description: I like to do certifications, as they challenge me on my knowledge of the given subject. I actually even have some, you can open this page to see them :D
seo_keywords: certifications, achievements, certification
highlited_navbar_option: Certifications
additional_headers: <link rel="stylesheet" href="/assets/css/certifications.css" />
    <script src="/assets/libraries/vanilla-tilt-1-8-0/vanilla-tilt.min.js"></script>
    <script src="/assets/js/is-mobile.js"></script>
    <script src="/assets/js/certifications.js"></script>
---

{% comment %} Copy certifications-category to add new categories - Role Based (**), Expert (***) - after I earn some :D {% endcomment %}
<div class="certifications-category">
  <h1 class="certifications-category-header">Fundamentals / Essentials (*)</h1>

  <div class="certifications-category-content">
    {% include certification_badge.html 
     href = "https://www.credly.com/badges/849e5db3-eea8-41c4-ac33-76cbd4b8d194"
     src = "/assets/img/certification-badge-microsoft-ms-900.webp"
     alt = "Microsoft 365 Fundamentals certification badge" %}

    {% include certification_badge.html 
     href = "https://www.credly.com/badges/0eb8cb18-fba4-4b3a-9bc4-562c3bd6e39d"
     src = "/assets/img/certification-badge-microsoft-az-900.webp"
     alt = "Microsoft Azure Fundamentals certification badge" %}

    {% include certification_badge.html 
     href = "https://www.credly.com/badges/db61924e-4fa2-48ee-a227-21d55530d26e"
     src = "/assets/img/certification-badge-microsoft-sc-900.webp"
     alt = "Microsoft Security, Compliance, and Identity Fundamentals certification badge" %}

    {% include certification_badge.html 
     href = "https://www.credly.com/badges/c821da98-a4e8-4974-94ce-a9d418265235"
     src = "/assets/img/certification-badge-microsoft-dp-900.webp"
     alt = "Microsoft Azure Data Fundamentals certification badge" %}

    {% include certification_badge.html 
     href = "https://www.credly.com/badges/038a3b04-6579-40fa-8e4f-3f8060e797d6"
     src = "/assets/img/certification-badge-microsoft-ai-900.webp"
     alt = "Microsoft Azure AI Fundamentals certification badge" %}

    {% include certification_badge.html 
     href = "https://www.credly.com/badges/8fac96e0-ab08-438a-97d3-c359edacf074"
     src = "/assets/img/certification-badge-cisco-ccna-introduction-to-networks.webp"
     alt = "Cisco Introduction to Networks (CCNA) certification badge" %}

    {% include certification_badge.html 
     href = "https://www.credly.com/badges/a7f4d44c-ddda-4b4f-ba75-fb654c16806a"
     src = "/assets/img/certification-badge-cisco-networking-essentials.webp"
     alt = "Cisco Networking Essentials certification badge" %}

    {% include certification_badge.html 
     href = "https://www.credly.com/badges/795c91ec-2d1f-40a5-8c93-eead53112c81"
     src = "/assets/img/certification-badge-cisco-it-essentials.webp"
     alt = "Cisco IT Essentials certification badge" %}

    {% include certification_badge.html 
     href = "https://www.credly.com/badges/dcc1b603-187f-4945-970d-c33cf1ab5677"
     src = "/assets/img/certification-badge-cisco-cybersecurity-essentials.webp"
     alt = "Cisco Cybersecurity Essentials certification badge" %}

    {% include certification_badge.html 
     href = "https://www.credly.com/badges/336fbff6-7f1e-40f8-999f-ee6ad85256f6"
     src = "/assets/img/certification-badge-cisco-introdution-to-cybersecurity.webp"
     alt = "Cisco Introduction to Cybersecurity certification badge" %}

  </div>
</div>

<div class="certifications-category">
  <h1 class="certifications-category-header">Not programming related</h1>

  <div class="certifications-category-content">
    {% include certification_badge.html 
     href = "https://www.credly.com/badges/90a5db8b-72ab-442b-ae89-0fff7a3ad4d8"
     src = "/assets/img/certification-badge-microsoft-mos-expert-access.webp"
     alt = "Microsoft Office Specialist Access Expert certification badge" %}

    {% include certification_badge.html 
     href = "https://www.credly.com/badges/b95233e4-f16b-49db-b0bb-d7623b4b6595"
     src = "/assets/img/certification-badge-microsoft-mos-associate.webp"
     alt = "Microsoft Office Specialist Associate certification badge" %}

    {% include certification_badge.html 
     href = "https://www.credly.com/badges/6f60850a-729f-4b4b-ae92-4f21161b1641"
     src = "/assets/img/certification-badge-microsoft-mos-excel.webp"
     alt = "Microsoft Office Specialist Excel certification badge" %}

    {% include certification_badge.html 
     href = "https://www.credly.com/badges/e7fdf4ab-98f3-4ac9-88f9-2e119774603c"
     src = "/assets/img/certification-badge-microsoft-mos-powerpoint.webp"
     alt = "Microsoft Office Specialist PowerPoint certification badge" %}

    {% include certification_badge.html 
     href = "https://www.credly.com/badges/c00eb373-ae8c-4882-a8d5-5f8b5567bdcf"
     src = "/assets/img/certification-badge-microsoft-mos-word.webp"
     alt = "Microsoft Office Specialist Word certification badge" %}

    {% include certification_badge.html 
     href = "https://www.efset.org/cert/SZYCt9"
     src = "/assets/img/certification-badge-efset-c2.webp"
     alt = "EF SET English Certificate 78/100 (C2 Proficient)" %}

    {% include certification_badge.html 
     href = "/pages/blog/pr/30-04-2023/completing-microsoft-stc"
     internal_href = true
     src = "/assets/img/certificate-stc-successfull-completion-preview-heavily-compressed.webp"
     alt = "STC certificate of successfull completion" %}
  </div>
</div>