---
layout: default

title: Projects
highlited_navbar_option: Projects
additional_headers: <link rel="stylesheet" href="/assets/css/projects.css" />
    <link rel="stylesheet" href="/assets/css/see-through-container.css" />
    <script src="/assets/libraries/vanilla-tilt-1-8-0/vanilla-tilt.min.js"></script>
    <script src="/assets/js/is-mobile.js"></script>
    <script src="/assets/js/projects.js"></script>
---

<!-- Split into professional/hobby -->

<div class="project-page-container">
  <div class="project-type-selector-container">
    <select id="project-type-selector" class="subheading-text">
      <option value="all" selected>All</option>
      <option value="open_sourced">Open-sourced</option>
      <option value="publicly_available">Publicly available</option>
      <option value="close_sourced">Close-sourced</option>
    </select>
    <noscript>
      <span class="no-js-notice">
        <--- Ooops, if you want this select box to work, enable magic called Javascript please (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧ (content should work fine tho ;D )
      </span>
    </noscript>
  </div>

  <div class="projects-container">

    <!--
    {% capture example_project_links %}
      {% include project_card_link.html 
       href = "https://github.com/example"
       text = "Source code" %}
      {% include project_card_link.html 
       href = "https://example.com"
       text = "Example" %}
      {% include project_card_link.html 
       href = "/pages/blog/example"
       text = "Blog post"
       is_internal = true %}
    {% endcapture %}

    {% include project_card.html 
     name = "Example project name"
     description = "
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
     tempor incididunt ut labore et dolore magna aliqua. Ac tortor dignissim
     convallis aenean. Faucibus vitae aliquet nec ullamcorper sit amet risus
     sed elementum tempus egestas. Ultrices in iaculis nunc sed. Sit amet
     "
     is_open_sourced = false
     is_publicly_available = true
     links = example_project_links %}

    {% include project_card.html 
     name = "Example project name"
     description = "
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
     tempor incididunt ut labore et dolore magna aliqua. Ac tortor dignissim
     convallis aenean. Faucibus vitae aliquet nec ullamcorper sit amet risus
     sed elementum tempus egestas. Ultrices in iaculis nunc sed. Sit amet
     "
     is_hobby_project = true
     is_open_sourced = false
     is_publicly_available = false
     links = example_project_links %}

    {% include project_card.html 
     name = "Example project name"
     description = "
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
     tempor incididunt ut labore et dolore magna aliqua. Ac tortor dignissim
     convallis aenean. Faucibus vitae aliquet nec ullamcorper sit amet risus
     sed elementum tempus egestas. Ultrices in iaculis nunc sed. Sit amet
     "
     is_open_sourced = true
     is_publicly_available = false
     links = example_project_links %}
     -->


    {% capture example_project_links %}
      {% include project_card_link.html 
       href = "https://github.com/example"
       text = "Source code" %}
      {% include project_card_link.html 
       href = "https://example.com"
       text = "Example" %}
      {% include project_card_link.html 
       href = "/pages/blog/example"
       text = "Blog post"
       is_internal = true %}
    {% endcapture %}

    {% include project_card.html 
     name = "Robot-Assisted Laser Plate Processing"
     description = "
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
     tempor incididunt ut labore et dolore magna aliqua. Ac tortor dignissim
     convallis aenean. Faucibus vitae aliquet nec ullamcorper sit amet risus
     sed elementum tempus egestas. Ultrices in iaculis nunc sed. Sit amet
     "
     is_hobby_project = false
     is_open_sourced = false
     is_publicly_available = false
     links = example_project_links %}

  </div>
</div>