---
layout: default

title: Projects
highlited_navbar_option: Projects
additional_headers: <link rel="stylesheet" href="/assets/css/projects.css" />
    <link rel="stylesheet" href="/assets/css/see-through-container.css" />
    <script src="/assets/libraries/vanilla-tilt-1-8-0/vanilla-tilt.min.js"></script>
    <script src="/assets/js/is-mobile.js"></script>
    <script src="/assets/js/projects.js"></script>
---

<div class="project-page-container">
  <div class="project-type-selector-container">
    <select id="project-type-selector" class="subheading-text">
      <option value="all" selected>All</option>
      <option value="open_sourced">Open-sourced</option>
      <option value="publicly_available">Publicly available</option>
      <option value="close_sourced">Close-sourced</option>
    </select>
    <noscript>
      <span class="no-js-notice">
        <--- Ooops, if you want this select box to work, enable magic called JavaScript please (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧ (content should work fine tho ;D )
      </span>
    </noscript>
  </div>

  <div class="projects-container">

    {% comment %}

    {% include project_card.html 
     name = "RFID Lock"

     is_hobby_project = true
     is_open_sourced = true
     is_publicly_available = false

     blog_post_link = "/pages/blog/TODO"
     source_code_link = "https://github.com/TDiblik/TODO"
     youtube_video_link = "https://www.youtube.com/watch?v=dQw4w9WgXcQ"

     description = "
      
    "%}

    {% include project_card.html 
     name = "IR Signal Cloner"

     is_hobby_project = true
     is_open_sourced = true
     is_publicly_available = false

     blog_post_link = "/pages/blog/TODO"
     source_code_link = "https://github.com/TDiblik/TODO"
     youtube_video_link = "https://www.youtube.com/watch?v=dQw4w9WgXcQ"

     description = "
      
    "%}

    {% endcomment %}

    {% include project_card.html 
     name = "Strava.cz bruteforce default login"

     is_hobby_project = true
     is_open_sourced = true
     is_publicly_available = false
     
     source_code_link = "https://github.com/TDiblik/strava_cz_bruteforce_default_login"
     blog_post_link = "/pages/blog/TODO"

     description = "
      One day, my friend noticed that when you get a strava.cz account, intentionally or not, 
      username and password are the same - at least at the place we got our accounts from. 
      Also, account's username is a number that goes up gradually - again, at least at the place we got our accounts from. 
      We wondered how many people did not change their default passwords (beeing same as given username). 
      This tool is a proof of concept .... or .... This is what happens when I get bored on saturdays .... ba dum tss (I am 100% aware that was a really lame joke)
    "%}

    {% include project_card.html 
     name = "EngiSafe"

     is_hobby_project = false
     is_open_sourced = false
     is_publicly_available = true
     
     live_version_link = "https://engisafe.com/#"

     description = "
      I've spent 
      <a href='/pages/work-experience' target='_blank' class='small-text underline'>little bit over a year</a>
      programming EngiSafe, mainly in cooperation with 
      <a href='https://www.linkedin.com/in/martin-ledvinka-7aa35766/' target='_blank' class='small-text underline' rel='nofollow noreferrer noopener'>Ing. Martin Ledvinka, Ph.D.</a>,
      who led the technical development of this project for a long time, before I joined, while working for
      <a href='https://akaene.com' target='_blank' class='small-text underline' rel='nofollow noreferrer noopener'>AKAENE Partners</a>.
      I learned basically everything I know about React and much more while developing this project. What I really enjoyed were
      our weekly syncs, where we would discuss future development, available solutions for problems we were working on
      and much more from the world of programming. Overall, I really enjoyed the collaboration, and am thankful that I was given an opportunity like this.
      PS: the login page is not fully done yet, but the portal looks good in my opinion
    "%}

    {% include project_card.html 
     name = "Revision Books"

     is_hobby_project = false
     is_open_sourced = false
     is_publicly_available = false

     blog_post_link = "/pages/blog/TODO"

     description = "
      Another long term project and once again for internal usage, but this one's special!
      So, let's close your eyes and let your imagination off the hook. You have a company that functions since 1953. 
      They have a legacy app (created in the 90s) that needs total rewrite from ground up. 
      This legacy app contains data since 1970s stored in dBase (before dBase it was excel, and before that paper, but somebody has already done that migration in 1998).
      You have around a year to migrate the data to MSSQL, create the new app and add new features. Welcome to my situation!
      I really enjoyed this rewrite, as it was unique and highly rewarding (even tho I'm usually agains rewrites).
    "%}

    {% capture medifinder_additional_links %}
      {% include project_card_link.html 
       text = "Region's post (cz)"
       href = "https://kr-kralovehradecky.cz/cz/kraj-volene-organy/tiskove-centrum/aktuality1/kralovehradecky-hackathon-vyhral-prototyp-aplikace-sledujici-stav-silnic-344129/"
       is_internal = false %}
       
      {% include project_card_link.html 
       text = "High School's post (cz)"
       href = "https://www.delta-skola.cz/studenti-delty-zvitezili-v-kralovehradeckem-hackathonu"
       is_internal = false %}

      {% comment %}
        Link to facebook video about the event, could be helpful someday in the future? - Could I download it and insert it into blog post about the event? - https://www.facebook.com/watch/?ref=external&v=826700745239253

        {% include project_card_link.html 
         text = "Region's video (cz)"
         href = "https://www.facebook.com/watch/?ref=external&v=826700745239253"
         is_internal = false %}
      {% endcomment %}
    {% endcapture %}
    {% include project_card.html 
     name = "RouteMapper"

     is_hobby_project = true
     is_open_sourced = true
     is_publicly_available = false
     
     source_code_link = "https://github.com/TDiblik/RouteMapper"
     blog_post_link = "/pages/blog/TODO"
     additional_links_end = medifinder_additional_links

     description = "
      RouteMapper is a social network that enables you to document and vote on broken spots on the roads.
      This whole idea and app was created in +-6 hours by 
      Me, 
      <a href='https://www.linkedin.com/in/michal-vanis/' target='_blank' class='small-text underline' rel='nofollow noreferrer noopener'>Michal Vaniš</a>,
      <a href='https://www.linkedin.com/in/daniel-bene%C5%A1-6abb7b205/' target='_blank' class='small-text underline' rel='nofollow noreferrer noopener'>Daniel Beneš</a> and
      <a href='https://www.linkedin.com/in/jan-skl%C3%A1dal-6050a2244/' target='_blank' class='small-text underline' rel='nofollow noreferrer noopener'>Jan Skládal</a>.
      My second hackathon, and we actually won it!
      If it were to become real, the idea was, that people will document and upvote broken spots on the road. 
      We would then match this with region's own datasets of road status, road usage frequency and road repair frequency
      resulting in algoritmically selected recommendation of roads to fix.
    "%}
    
    {% capture medifinder_additional_links %}
      {% include project_card_link.html 
       text = "High School's post (cz)"
       href = "https://www.delta-skola.cz/funovation-hac22"
       is_internal = false %}
    {% endcapture %}
    {% include project_card.html 
     name = "Medifinder"

     is_hobby_project = true
     is_open_sourced = true
     is_publicly_available = false
     
     source_code_link = "https://github.com/TDiblik/Medifinder"
     blog_post_link = "/pages/blog/TODO"
     additional_links_end = medifinder_additional_links

     description = "
      Medifinder is an app that helps you find a doctor in your area, based on symptoms you describe.
      This whole idea and app was created in 24 hours by 
      Me, 
      <a href='https://www.linkedin.com/in/vojtechvolf/' target='_blank' class='small-text underline' rel='nofollow noreferrer noopener'>Vojtěch Volf</a>,
      <a href='https://www.linkedin.com/in/michal-vanis/' target='_blank' class='small-text underline' rel='nofollow noreferrer noopener'>Michal Vaniš</a> and
      <a href='https://www.linkedin.com/in/daniel-bene%C5%A1-6abb7b205/' target='_blank' class='small-text underline' rel='nofollow noreferrer noopener'>Daniel Beneš</a>.
      We came in 2nd place, which is fine, but it's not first :D
      At first, the app sounded like a good idea, however after the hackathon ended, 
      we thought about it a little bit more and we decided to abandon the project.
      Mainly because some of the judges, who we thought could help us with a large scale implementation,
      didn't think it had a lot of potential.
    "%}

    {% include project_card.html 
     name = "Main Gate ALPR"

     is_hobby_project = false
     is_open_sourced = false
     is_publicly_available = false

     blog_post_link = "/pages/blog/TODO"

     description = "
      I really like incorporating existing AI's into my projects. To be honest, 
      I tried developing AI's multiple time, and it's just not for me. This project is an example 
      of me playing around with multiple AI's, mashing them together and creating something that helps gatekeepers at
      <a href='https://vpsr.cz/' target='_blank' class='small-text underline' rel='nofollow noreferrer noopener'>VPSR</a>.
      This program repeatedly checks Main Gate camera, tries to find a car, and if it finds a car in a selected zone, 
      it detects it's licence plate and sends it right to the gatekeepers (picture + text). I am using two AI's to achieve this,
      <a href='https://github.com/WongKinYiu/yolov7' target='_blank' class='small-text underline' rel='nofollow noreferrer noopener'>yolov7</a>
      and
      <a href='https://github.com/sergiomsilva/alpr-unconstrained' target='_blank' class='small-text underline' rel='nofollow noreferrer noopener'>alpr-unconstrained</a>.
      It was a really interesting project, and needless to say, it was a fun 2022 summer break!
    "%}

    {% include project_card.html 
     name = "Space is awesome website!"

     is_hobby_project = true
     is_open_sourced = true
     is_publicly_available = true

     live_version_link = "https://space-is-awesome.tomasdiblik.cz"
     source_code_link = "https://github.com/TDiblik/space-is-awesome-website"

     description = "
      As unbelieveable as it may sound, I've been programming webpages 
      without ever touching css from April 2020 until December 2021! I have been making internal programs,
      so bootstrap was always more than enought. In January 2022 I decided that enought was enought and I needed to learn css.
      At school I had a week long assignment, and I challenged myself to do it in 2 days. This is what came out. 
      The site is not that pretty and has some known bugs, but I've learned a lot while developing it. Since then, my css abilities have grown exponentially!
    "%}

    {% include project_card.html 
     name = "Tank parameterization"

     is_hobby_project = false
     is_open_sourced = false
     is_publicly_available = false

     blog_post_link = "/pages/blog/TODO"

     description = "
      This web app is designed to help technicians test out different variables while preparing tanks 
      without the need to run multiple hard calculations, ensuring that they know everything important about each tank.
      Because this software simplifies a lot of calculations and shows it clearlly in it's UI
      it significantlly reduces the chance of human error, saves technicians time, and ensures accurate tank preparation.
      I would never be able to finish this program without the help from  Mgr. Hana Sádovská. 
      She helped me, and straight up came up with some of the calculations used! I'll be forever thankful!
    "%}

    {% include project_card.html 
     name = "Luch Ordering and Management System"

     is_hobby_project = false
     is_open_sourced = false
     is_publicly_available = false

     blog_post_link = "/pages/blog/TODO"

     description = "
      This program consists of 4 parts. 
      A desktop applications that allows you to order lunches locally.
      Another desktop application that makes it easy to receive your food by using RFID chip associated with your name.
      A web management system that allows HR people to manage lunches, export payroll deductions (subsidies included) and block some people from ordering luches.
      Lastlly, an automated task that runs twice per day and sends mails with orders for next day/week to company that's supplying the food.
    "%}

    {% include project_card.html 
     name = "Multi-Device Monitor and Control System"

     is_hobby_project = false
     is_open_sourced = false
     is_publicly_available = false

     blog_post_link = "/pages/blog/TODO"

     description = "
      I developed a program to control a factory with two parts: a desktop app to set up, manage and control IOT devices,
      and a website to generate graphs and analysis. The app turns devices on/off based on settings, 
      such as heating the factory before workers arrive, locking doors in the evening and adjusting temperature in different rooms.
      The desktop app manages and website analyzes data from 21 temperature sensors, 5 humidity sensors and 33 I/O modules 
      placed across the factory at 
      <a href='https://vpsr.cz/' target='_blank' class='small-text underline' rel='nofollow noreferrer noopener'>VPSR</a>.
      I published first version in early 2021, the program runs there to this day. 
    "%}

    {% include project_card.html 
     name = "Robot-Assisted Laser Plate Processing"

     is_hobby_project = false
     is_open_sourced = false
     is_publicly_available = false

     blog_post_link = "/pages/blog/TODO"

     description = "
      Believe it or not, but this was my first real programming project - January 2020. 
      I've written it in Python, because the robotic arm used provided a nice simple Python api.
      This project has been the initial spark for my programming passion! I have spent 2 months 
      perfecting this project (back then, I've never spent that much time on anything except games) 
      and even tho it's a simple python program I'm really proud of it to this day.
    "%}

  </div>
</div>