---
layout: default

title: Work experience
seo_description: I try to find challenging experiences wherever I can and that's one of the reasons I'm where I'm today.
seo_keywords: work experience, qualifications, previous work experiences, experience, experiences
highlited_navbar_option: WorkExperience
additional_headers: <link rel="stylesheet" href="/assets/css/work-experience.css" /> 
    <script src="/assets/js/work-experience.js"></script>
---

{% include job_row.html 
 job_title = "Software Developer"
 type_of_employment = "Contractor - Hybrid"
 employed_from = "2020-07-01"
 employed_to = "not_yet"
 employer_name = "Východočeské plynárenské strojírny, a.s."
 employer_logo_src = "/assets/img/vpsr-logo.webp"
 employer_href = "https://vpsr.cz"
 job_description = "
 I'm basically a universal programmer there. I'm programming everything from
 microcontrollers, desktop apps, web apps. I'm managing database servers,
 Linux servers, on-premises and cloud-hosted stuff. I'm the guy that makes
 almost every piece of custom software that runs there. Over the period of
 almost 3 years, I've made 15+ different apps and learned A LOT, since I'm
 spending most of my time just creating new software for them or
 improving/maintaining existing one. I mostly use C# and TypeScript, but I
 also sometimes turn to Rust/Python when needed. Pick the right tool for the
 job.
 " %}

{% include job_row.html 
 job_title = "Frontend web developer"
 type_of_employment = "Contractor - Remote"
 employed_from = "2021-10-01"
 employed_to = "2023-01-10"
 employer_name = "AKAENE Partners"
 employer_logo_src = "/assets/img/akaene-partners-logo.webp"
 employer_href = "https://akaene.com"
 job_description = "
 During my time here, I developed a design proposals (using Figma) for
 <a href='https://engisafe.com/#/' target='_blank' class='paragraph-text underline' rel='nofollow noreferrer noopener'> engisafe.com </a>
 , which I then made into a web application - you can see for yourself (the
 login page is not fully done yet, but the portal looks good in my opinion).
 I was in charge of the frontend. I was writing the project in React. During
 my time there, I primarily worked with
 <a href='https://www.linkedin.com/in/martin-ledvinka-7aa35766/' target='_blank' class='paragraph-text underline' rel='nofollow noreferrer noopener'>
 Ing. Martin Ledvinka, Ph.D.</a>, 
 who was responsible for the whole backend and some frontend stuff. 
 I'm really fortunate that I was given the opportunity to work there and I appreciate it greatly.
 " %}

{% include job_row.html 
 job_title = "Programming internship"
 type_of_employment = "Internship - In person"
 employed_from = "2023-06-01"
 employed_to = "2023-06-01"
 employer_name = "PwC Slovakia"
 employer_logo_src = "/assets/img/pwc-logo.svg"
 employer_href = "https://www.pwc.com/sk/en.html"
 job_description = "
 During my SECOND one-month internship at PwC in Bratislava, I was working in a team of two. 
 I did backend, he did frontend. I was working with Express and MongoDB. He implemented most of the Frontend (in React), 
 I implemented all of the backend, plus a part of the frontend that comunicated using websockets for real-time synchronization of the app state. 
 It was a big project, but we managed to finish it in 4 weeks. 
 On the backend one of the challenging parts was making everything secure, 
 especially running user-submited code inside docker containers in a complete sandbox. 
 I implemented everything from authentication, to rbac, to user/request validation, to websockets, to docker containers. 
 " %}

{% include job_row.html 
 job_title = "Programming internship"
 type_of_employment = "Internship - In person"
 employed_from = "2022-06-01"
 employed_to = "2022-06-01"
 employer_name = "PwC Slovakia"
 employer_logo_src = "/assets/img/pwc-logo.svg"
 employer_href = "https://www.pwc.com/sk/en.html"
 job_description = "
 During my FIRST one-month internship at PwC in Bratislava, I participated in the
 development of the entire project from planning to implementation in a
 three-member team of software engineers. The internship consisted of 50%
 infrastructure, wireframing, mockups, and figuring out the project logic. The
 other 50% was hands-on implementation. My work was all frontend, but I was
 also involved in a large part of the backend (e.g. implementing user
 authentication and authorization, partially inventing the database
 structure,...). During the project I worked with React, Django, Docker and
 Azure Cloud
 " %}