---
layout: blog_post_layout

title: Main Gate ALPR
is_blog_post: true
toc: true
seo_keywords: 

post_release_date: 14-03-2023
post_category: PR

post_introduction: TODO
---

{% include heading.html level="2" text="Hackathon" %}
{% include heading.html level="3" text="The good" %}
{% include heading.html level="3" text="The bad" %}

{% include heading.html level="2" text="Medifinder" %}
{% include heading.html level="3" text="General info" %}
{% include heading.html level="3" text="Technical decisions" %}